- name: Show backend variables
  debug:
    msg:
      - "app_repo = {{ app_repo | default('NOT DEFINED') }}"
      - "app_dir = {{ app_dir | default('NOT DEFINED') }}"
      - "mysql_db_name = {{ mysql_db_name | default('NOT DEFINED') }}"
      - "mysql_endpoint = {{ mysql_endpoint | default('NOT DEFINED') }}"

- name: Install dependencies (Node.js, npm, git)
  package:
    name:
      - git
      - nodejs
      - npm
    state: present
  become: yes

- name: Remove existing app directory
  file:
    path: "{{ app_dir }}"
    state: absent
  become: yes

- name: Clone EpicBook repo
  git:
    repo: "{{ app_repo }}"
    dest: "{{ app_dir }}"
    version: "main"

- name: Configure application environment
  template:
    src: env.j2
    dest: "{{ app_dir }}/.env"

- name: Install Node.js dependencies
  npm:
    path: "{{ app_dir }}"
    production: yes

- name: Start EpicBook app with pm2
  npm:
    name: pm2
    global: yes
  become: yes

- name: Run EpicBook app
  command: pm2 start server.js --name epicbook
  args:
    chdir: "{{ app_dir }}"
