- name: Show backend variables
  debug:
    msg:
      - "app_repo = {{ app_repo | default('NOT DEFINED') }}"
      - "app_dir = {{ app_dir | default('NOT DEFINED') }}"
      - "mysql_db_name = {{ mysql_db_name | default('NOT DEFINED') }}"
      - "mysql_endpoint = {{ mysql_endpoint | default('NOT DEFINED') }}"

- name: Install dependencies
  package:
    name:
      - git
      - python3-pip
    state: present

- name: Clone EpicBook repo
  git:
    repo: "{{ app_repo }}"
    dest: "{{ app_dir }}"
    version: "main"

- name: Configure application environment
  template:
    src: env.j2
    dest: "{{ app_dir }}/.env"

- name: Install Python requirements
  pip:
    requirements: "{{ app_dir }}/requirements.txt"
    executable: pip3
